---
import KubostonCss from './Kuboston.css';
import KubostonFace from './KubostonFace';
import KubostonFacesPrefetch from './KubostonFacesPrefetch';
---

<div class={KubostonCss.container}>
  <KubostonFace client:load css={KubostonCss} />
  <KubostonFacesPrefetch />
</div>
